<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NMEA_connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NMEA_connector.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>03/12/2020 11:40:00</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>da</value>
            </setting>
            <setting name="MainUnit" serializeAs="String">
                <value>K</value>
            </setting>
        </NMEA_connector.Properties.Settings>
    </applicationSettings>
</configuration>